* {
  margin: 0;
  padding: 0; }

html {
  height: 100vh; }

/*-------Index-------*/
/*.main1 {
    max-width: 100%;    
    margin:  0 auto;
}*/
h1 {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 7rem;
  font-family: 'Itim';
  color: #e084af;
  text-shadow: 1px 1px 1px #ad2fc0; }

.d-block {
  margin: 0 auto;
  justify-content: center; }

.cards_index {
  margin: 0 auto;
  align-content: center; }

/*para las MQ*/
.tarjeta0 {
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  justify-content: end; }
  .tarjeta0 .texto_card_h5,
  .tarjeta0 .texto_card_p {
    font-family: 'Dosis', sans-serif;
    font-weight: bold; }
  .tarjeta0:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }
    .tarjeta0:hover .texto_card_h5,
    .tarjeta0:hover .texto_card_p {
      color: black;
      font-size: x-large; }

.tarjeta1 {
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease; }
  .tarjeta1 .texto_card_h5,
  .tarjeta1 .texto_card_p {
    font-family: 'Dosis', sans-serif;
    font-weight: bold; }
  .tarjeta1:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }
    .tarjeta1:hover .texto_card_h5,
    .tarjeta1:hover .texto_card_p {
      color: #ffffff;
      font-size: x-large; }

/*-------Contacto-------*/
.body-contacto {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px; }

.campo {
  width: 500px; }
  .campo label {
    font-size: x-large;
    font-family: 'Dosis', sans-serif; }

.boton {
  color: #661eec;
  font-size: larger;
  font-family: 'Dosis', sans-serif;
  background-color: #42d3dd99 !important;
  border: #423d3d; }

.footer-contacto {
  margin-top: auto; }

/*-------FAQ-------*/
.body-faq {
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  .body-faq .consultas {
    margin: 30px; }
  .body-faq .footer-faq {
    margin-top: auto; }

.container-img {
  margin: auto;
  display: grid;
  justify-content: center; }

.img-1, .img-2, .img-3 {
  width: 200px; }

/*-------Sobre nosotros-------*/
.body-sn {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.PP {
  font-family: 'Dosis', sans-serif;
  font-size: x-large;
  margin: 15px; }

.img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .img img {
    width: 500px;
    padding: 20px; }

div.yt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  div.yt .ventana {
    margin: 20px; }

/*.footer-sn {
    margin-top: auto;
}*/
/*-------Tienda-------*/
h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  color: #e084af;
  text-align: center;
  margin-bottom: 10px; }

.class-tienda p {
  font-family: 'Dosis', sans-serif; }

.tienda {
  display: grid;
  grid-template-columns: .5fr .5fr .5fr .5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas: "card1 card2 card3 card4" "card5 card6 card7 card8" "card9 card10 card11 card12";
  justify-items: center;
  justify-content: center;
  margin: 0px;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 30px; }

div .card {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  border: 0px; }
  div .card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }

.card-img-top {
  height: 450px;
  width: 450px; }

.card1 {
  grid-area: card1; }

.card2 {
  grid-area: card2; }

.card3 {
  grid-area: card3; }

.card4 {
  grid-area: card4; }

.card5 {
  grid-area: card5; }

.card6 {
  grid-area: card6; }

.card7 {
  grid-area: card7; }

.card8 {
  grid-area: card8; }

.card9 {
  grid-area: card9; }

.card10 {
  grid-area: card10; }

.card11 {
  grid-area: card11; }

.card12 {
  grid-area: card12; }

div .card-body {
  background-color: rgba(0, 0, 0, 0.2); }

.d-grid {
  justify-content: center; }

.boton {
  background-color: #42d3dd99 !important;
  border: #423d3d; }
  .boton:hover {
    color: #f0f8ff; }

/*-------Footer-------*/
footer {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto; }
  footer .footer1, footer .footer2 {
    font-family: 'Dosis', sans-serif;
    list-style: none;
    text-decoration: none;
    font-weight: bold; }
    footer .footer1 a, footer .footer2 a {
      text-decoration: none;
      color: #123f3f;
      padding: 5px; }

.p-f {
  color: #ffe4c4;
  font-size: medium;
  padding: 2px;
  font-family: 'Dosis', sans-serif;
  font-size: large;
  margin: 15px; }

.body1 {
  min-height: 100vh;
  display: grid;
  align-items: end;
  align-content: space-between; }

body {
  background-color: #f3d5f8;
  background-size: cover; }

.barra1 {
  background-color: rgba(0, 0, 0, 0.034) !important; }

.marca {
  font-family: 'Abel', sans-serif;
  font-style: oblique;
  font-weight: bold;
  color: #e084af;
  font-size: 3rem; }
  .marca:hover {
    color: #d15be4; }

.barra {
  justify-content: end;
  padding: 10px;
  font-size: 2rem; }

.secciones {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  font-style: oblique;
  color: #e084af !important; }

/*-------Medias Query-------*/
@media (max-width: 1440px) {
  h1 {
    font-size: 4rem; }
  .navbar-brand {
    font-size: 2.5rem; }
  .barra {
    font-size: 1.5rem; }
  .btn {
    width: 100px;
    font-size: large; }
  div p {
    font-size: 20px; }
  p {
    margin: 15px; }
  p.card-text {
    width: 250px; }
  .tienda {
    display: grid;
    grid-template-columns: .5fr .5fr .5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: "card1 card2 card3" "card4 card5 card6" "card7 card8 card9" "card10 card11 card12";
    margin: 0px; }
  footer {
    color: bisque;
    text-decoration: none;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5); }
    footer ul {
      padding: 0; }
  .p-f {
    font-size: large; }
  .card-img-top {
    height: 450px;
    width: 450px; } }

@media (max-width: 1024px) {
  h1 {
    font-size: 4rem; }
  .navbar-brand {
    font-size: 2.5rem; }
  .barra {
    font-size: 1.5rem; }
  .tarjeta1 {
    padding-bottom: 10px; }
  .tienda {
    display: grid;
    grid-template-columns: .5fr .5fr .5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: "card1 card2 card3" "card4 card5 card6" "card7 card8 card9" "card10 card11 card12";
    margin: 1px; }
  footer {
    color: bisque;
    text-decoration: none;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5); }
    footer p {
      font-size: large; }
    footer ul {
      padding: 0; }
  .p-f {
    font-size: large; }
  .card-img-top {
    height: 450px;
    width: 334.67px; }
  .btn {
    width: 100px;
    font-size: large; }
  div p {
    font-size: 15px; }
  p {
    margin: 10px; }
  p.card-text {
    width: 180px; } }

@media (max-width: 768px) {
  h1 {
    font-size: 3rem; }
  .navbar-brand {
    font-size: 2rem; }
  .barra {
    font-size: 1.2rem; }
  .carousel {
    margin-left: 10px;
    margin-right: 10px; }
  .tarjeta0, .tarjeta1 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px; }
  footer {
    color: bisque;
    text-decoration: none;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5); }
    footer p {
      font-size: medium; }
    footer ul {
      padding: 0; }
  .p-f {
    font-size: large; }
  .btn {
    width: 100px;
    font-size: large; }
  div p {
    font-size: 15px; }
  p {
    margin: 10px; }
  p.card-text {
    width: 180px; }
  .card-img-top {
    height: 450px;
    width: 250px; } }

@media (max-width: 425px) {
  h1 {
    font-size: 3rem; }
  .PP {
    font-size: medium; }
  .navbar-brand {
    font-size: 2rem; }
  .barra {
    font-size: 1.2rem; }
  .tienda {
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "card1 card2"  "card3 card4"  "card5 card6"  "card7 card8"  "card9 card10"  "card11 card12";
    margin: 1px; }
  footer {
    display: grid;
    justify-content: center;
    justify-items: center;
    color: bisque;
    text-decoration: none;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5); }
    footer p {
      font-size: small; }
    footer ul {
      padding: 0;
      padding-top: 10px; }
  .p-f {
    font-size: medium; }
  .btn {
    width: 85px;
    font-size: small; }
  div p {
    font-size: 15px; }
  p {
    margin: 10px; }
  p.card-text {
    width: 180px; }
  .card-img-top {
    height: 430px;
    width: 200px; }
  div .card-body {
    width: 200px; }
  iframe {
    width: 425px; }
  .campo {
    width: 425px;
    padding: 5px; }
  .carousel {
    margin-left: 10px;
    margin-right: 10px; }
  .tarjeta0 {
    /*width: 500px;*/
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
    justify-content: end; }
    .tarjeta0 .texto_card_h5,
    .tarjeta0 .texto_card_p {
      font-family: 'Dosis', sans-serif;
      font-weight: bold; }
    .tarjeta0 .boton {
      width: 80px;
      font-size: 10px; }
    .tarjeta0:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
      transform: translateY(-3%); }
      .tarjeta0:hover .texto_card_p {
        color: black;
        font-size: medium; }
  .tarjeta1 {
    /*width: 500px;*/
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease; }
    .tarjeta1 .texto_card_h5,
    .tarjeta1 .texto_card_p {
      font-family: 'Dosis', sans-serif;
      font-weight: bold; }
    .tarjeta1 .boton {
      width: 80px;
      font-size: 10px; }
    .tarjeta1:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
      transform: translateY(-3%); }
      .tarjeta1:hover .texto_card_p {
        color: white;
        font-size: medium; } }

@media (max-width: 375px) {
  h1 {
    font-size: 2rem; }
  .PP {
    font-size: small; }
  .navbar-brand {
    font-size: 1.5rem; }
  .barra {
    font-size: 1rem; }
  .tienda {
    display: grid;
    grid-template-columns: .5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "card1" "card2"  "card3 " "card4"  "card5" "card6"  "card7" "card8"  "card9" "card10"  "card11" "card12"; }
  footer {
    display: grid;
    justify-content: center;
    justify-items: center;
    color: bisque;
    text-decoration: none;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5); }
    footer ul {
      padding: 0;
      padding-top: 10px; }
  .p-f {
    font-size: medium; }
  .btn {
    width: 100px;
    font-size: 20px; }
  .card-img-top {
    height: 430px;
    width: 300px; }
  div .card-body {
    width: 300px; }
  p {
    font-size: 20px; }
  iframe {
    width: 375px; }
  .campo {
    width: 375px;
    padding: 15px; }
  .carousel {
    margin-left: 10px;
    margin-right: 10px; }
  .tarjeta0 {
    /*width: 500px;*/
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
    justify-content: end; }
    .tarjeta0 .texto_card_h5,
    .tarjeta0 .texto_card_p {
      font-family: 'Dosis', sans-serif;
      font-weight: bold; }
    .tarjeta0 .boton {
      width: 80px;
      font-size: 10px; }
    .tarjeta0:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
      transform: translateY(-3%); }
      .tarjeta0:hover .texto_card_p {
        color: black;
        font-size: medium; }
  .tarjeta1 {
    /*width: 500px;*/
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease; }
    .tarjeta1 .texto_card_h5,
    .tarjeta1 .texto_card_p {
      font-family: 'Dosis', sans-serif;
      font-weight: bold; }
    .tarjeta1 .boton {
      width: 80px;
      font-size: 10px; }
    .tarjeta1:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
      transform: translateY(-3%); }
      .tarjeta1:hover .texto_card_p {
        color: white;
        font-size: medium; } }

@media (max-width: 320px) {
  h1 {
    font-size: 2rem; }
  .PP {
    font-size: small; }
  .navbar-brand {
    font-size: 1.5rem; }
  .barra {
    font-size: 1rem; }
  .tienda {
    display: grid;
    grid-template-columns: auto;
    /*antes.5fr*/
    grid-template-rows: 1fr;
    grid-template-areas: "card1" "card2"  "card3 " "card4"  "card5" "card6"  "card7" "card8"  "card9" "card10"  "card11" "card12"; }
  .card-img-top {
    height: 430px;
    width: 200px; }
  div .card-body {
    width: 200px; }
  iframe {
    width: 320px; }
  .campo {
    width: 320px;
    padding: 15px; }
  .carousel {
    margin-left: 10px;
    margin-right: 10px; }
  .tarjeta0 {
    /*width: 500px;*/
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
    justify-content: end; }
    .tarjeta0 .texto_card_h5,
    .tarjeta0 .texto_card_p {
      font-family: 'Dosis', sans-serif;
      font-weight: bold; }
    .tarjeta0 .boton {
      width: 80px;
      font-size: 10px; }
    .tarjeta0:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
      transform: translateY(-3%); }
      .tarjeta0:hover .texto_card_p {
        color: black;
        font-size: medium; }
  .tarjeta1 {
    /*width: 500px;*/
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease; }
    .tarjeta1 .texto_card_p {
      font-family: 'Dosis', sans-serif;
      font-weight: bold; }
    .tarjeta1 .boton {
      width: 80px;
      font-size: 10px; }
    .tarjeta1:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
      transform: translateY(-3%); }
      .tarjeta1:hover .texto_card_p {
        color: white;
        font-size: medium; }
  footer {
    display: grid;
    justify-content: center;
    justify-items: center;
    color: bisque;
    text-decoration: none;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5); }
    footer ul {
      padding: 0px;
      padding-top: 10px; }
  .p-f {
    font-size: small; }
  .btn {
    width: 100px;
    font-size: 20px; } }
