@import'./utilities/colors';

* {
    margin: 0;
    padding: 0;


}

html {
    height: 100vh;

}

@import'./sections-sass/index';
@import'./sections-sass/contacto';
@import'./sections-sass/faq';
@import'./sections-sass/sobre_nosotros';
@import'./sections-sass/tienda';
@import'./sections-sass/footer';
@import'./sections-sass/body';
@import'./sections-sass/header';
@import'./sections-sass/mediasQ';
















