/*-------FAQ-------*/

.body-faq {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    .consultas {
        margin: 30px;
    }
    .footer-faq {
        margin-top: auto;
    }

}    

.container-img{
    margin: auto;
    display: grid;
    justify-content: center;
}

.img-1, .img-2, .img-3{
    width: 200px;
       

}