/*-------FAQ-------*/

.body-faq {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    .consultas {
        margin: 30px;
    }
    .footer-faq {
        margin-top: auto;
    }

}    

