.barra {
    justify-content: end;
    padding: 10px;
    font-size: 2rem;



}

.secciones {
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-style: oblique;
    color: #857981 !important;

}

.marca {
    font-family: 'Abel', sans-serif;
    font-style: oblique;
    font-weight: bold;
    color: rgb(224, 132, 175);
    font-size: 3rem;
}

.marca:hover {
    color: #d15be4;
}

.barra1 {
    background-color: rgba(0, 0, 0, 0.034) !important;
}