.barra1 {
    background-color: rgba(0, 0, 0, 0.034) !important;

    
}
.marca {
    font-family: 'Abel', sans-serif;
    font-style: oblique;
    font-weight: bold;
    color:$rosado-claro;
    font-size: 3rem;

    &:hover {
        color: $rosado-fuerte;
    }

}
.barra {
    justify-content: end;
    padding: 10px;
    font-size: 2rem;

}


.secciones {
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-style: oblique;
    color: $rosado-claro !important;

   
}