/*-------Index-------*/

h1 {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 7rem;
    font-family: 'Itim';
    color: rgb(224, 132, 175);
    text-shadow: 1px 1px 1px #ad2fc0;

}

.carousel {
    margin: 0%;

}

.tarjeta0 {
    width: 500px;
    margin: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;

    .texto_card_h5,
    .texto_card_p {
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
    }

    &:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);

        .texto_card_h5,
        .texto_card_p {
            color: black;
            font-size: x-large;
        }
    }
   
}

.tarjeta1 {
    width: 500px;
    margin: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;

    .texto_card_h5,
    .texto_card_p {
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        
    }

    &:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);

        .texto_card_h5,
        .texto_card_p {
            color: rgb(255, 255, 255);
            font-size: x-large;
        }
    }
  
}
