/*-------Index-------*/

h1 {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 7rem;
    font-family: 'Itim';
    color: rgb(224, 132, 175);
    text-shadow: 1px 1px 1px #ad2fc0;

}

.carousel {
    margin: 0%;
  
}

.fotos-de-inicio {
    margin: 20px
}

.tarjeta1{
    margin: 20px;
    h5{
    margin: 15px;
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    }
    h5,
    p,
    a {
        font-family: 'Dosis', sans-serif;
        margin: 15px;
    
    }
    
    .img-index1{
       height: 327.8px;
    }
}

.tarjeta2{
    margin-left: 20px;
    h5{
    margin: 15px;
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    }
    h5,
    p,
    a {
        font-family: 'Dosis', sans-serif;
        margin: 15px;
    
    }
    
    .img-index2{
        height: 363.8px;
       
    }
}

    

