/*-------Medias Query-------*/
@media(max-width: 1440px) {
    h1 {
        font-size: 4rem;
    }

    .navbar-brand {
        font-size: 2.5rem;
    }

    .barra {
        font-size: 1.5rem;

    }

    .btn {
        width: 100px;
        font-size: large;
    }

    div p {
        font-size: 20px;

    }

    p {
        margin: 15px;
    }

    p.card-text {
        width: 250px;
    }

    .tienda {
        display: grid;
        grid-template-columns: .5fr .5fr .5fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6"
            "card7 card8 card9"
            "card10 card11 card12";
        margin: 0px;
    }

    footer {
        color: bisque;
        text-decoration: none;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.5);

    }

    .p-f {
        font-size: large;
    }

    .card-img-top {
        height: 450px;
        width: 450px;

    }

}

@media(max-width: 1024px) {
    h1 {
        font-size: 4rem;
    }

    .navbar-brand {
        font-size: 2.5rem;
    }

    .barra {
        font-size: 1.5rem;

    }

    .tienda {
        display: grid;
        grid-template-columns: .5fr .5fr .5fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6"
            "card7 card8 card9"
            "card10 card11 card12";
        margin: 1px;
    }

    footer {
        color: bisque;
        text-decoration: none;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.5);

        p {
            font-size: large;
        }

    }

    .p-f {
        font-size: large;
    }

    .card-img-top {
        height: 450px;
        width: 334.67px;

    }

    .btn {
        width: 100px;
        font-size: large;
    }

    div p {
        font-size: 15px;

    }

    p {
        margin: 10px;
    }

    p.card-text {
        width: 180px;
    }
}

@media(max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    .navbar-brand {
        font-size: 2rem;
    }

    .barra {
        font-size: 1.2rem;
    }

    footer {
        color: bisque;
        text-decoration: none;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.5);

        p {
            font-size: medium;
        }

    }

    .p-f {
        font-size: large;
    }

    .btn {
        width: 100px;
        font-size: large;
    }

    div p {
        font-size: 15px;

    }

    p {
        margin: 10px;
    }

    p.card-text {
        width: 180px;
    }

    .card-img-top {
        height: 450px;
        width: 250px;


    }

}

@media(max-width: 425px) {
    h1 {
        font-size: 3rem;
    }

    .PP {
        font-size: medium;
    }

    .navbar-brand {
        font-size: 2rem;
    }

    .barra {
        font-size: 1.2rem;
    }

    .tienda {
        display: grid;
        grid-template-columns: .5fr .5fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "card1 card2"

            "card3 card4"

            "card5 card6"

            "card7 card8"

            "card9 card10"

            "card11 card12";

        margin: 1px;
    }

    footer {
        display: grid;
        justify-content: center;
        justify-items: center;
        color: bisque;
        text-decoration: none;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.5);

        p {
            font-size: small
        }

    }

    .p-f {
        font-size: medium;
    }

    .btn {
        width: 85px;
        font-size: small;
    }

    div p {
        font-size: 15px;

    }

    p {
        margin: 10px;
    }

    p.card-text {
        width: 180px;
    }


    .card-img-top {
        height: 430px;
        width: 200px;

    }

    div .card-body {
        width: 200px;
    }

    iframe {
        width: 425px;
    }

    .campo {
        width: 425px;
        padding: 5px;
    }
    .tarjeta0 {    
        /*width: 500px;*/
        margin-top: 30px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        transition: all 400ms ease;
        justify-content: end;
    
        .texto_card_h5,
        .texto_card_p {
            font-family:'Dosis', sans-serif;
            font-weight: bold;
        }
        .boton {
            width: 80px;
            font-size: 10px;
        }

    
        &:hover {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
            transform: translateY(-3%);
    
            
            .texto_card_p {
                color: black;
                font-size: medium;
            }
        }
       
    }
    
     .tarjeta1 {
        /*width: 500px;*/
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        transition: all 400ms ease;
    
        .texto_card_h5,
        .texto_card_p {
            font-family:'Dosis', sans-serif;
            font-weight: bold;
            
        }
        .boton {
            width: 80px;
            font-size: 10px;
        }
    
        &:hover {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
            transform: translateY(-3%);
    
            
            .texto_card_p {
                color: rgb(255, 255, 255);
                font-size: medium;
            }
        }
      
    }


}

@media(max-width: 375px) {
    h1 {
        font-size: 2rem;
    }

    .PP {
        font-size: small;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    .barra {
        font-size: 1rem;
    }

    .tienda {
        display: grid;
        grid-template-columns: .5fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "card1"
            "card2"

            "card3 "
            "card4"

            "card5"
            "card6"

            "card7"
            "card8"

            "card9"
            "card10"

            "card11"
            "card12";

    }


    footer {
        display: grid;
        justify-content: center;
        justify-items: center;
        color: bisque;
        text-decoration: none;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.5);

    }

    .p-f {
        font-size: medium;
    }

    .btn {
        width: 100px;
        font-size: 20px;

    }

    .card-img-top {
        height: 430px;
        width: 300px;

    }

    div .card-body {
        width: 300px;
    }

    p {
        font-size: 20px;
    }

    iframe {
        width: 375px;
    }

    .campo {
        width: 375px;
        padding: 15px;
    }
    .tarjeta0 {    
        /*width: 500px;*/
        margin-top: 30px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        transition: all 400ms ease;
        justify-content: end;
    
        .texto_card_h5,
        .texto_card_p {
            font-family:'Dosis', sans-serif;
            font-weight: bold;
        }
        .boton {
            width: 80px;
            font-size: 10px;
        }

    
        &:hover {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
            transform: translateY(-3%);
    
            
            .texto_card_p {
                color: black;
                font-size: medium;
            }
        }
       
    }
    
     .tarjeta1 {
        /*width: 500px;*/
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        transition: all 400ms ease;
    
        .texto_card_h5,
        .texto_card_p {
            font-family:'Dosis', sans-serif;
            font-weight: bold;
            
        }
        .boton {
            width: 80px;
            font-size: 10px;
        }
    
        &:hover {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
            transform: translateY(-3%);
    
            
            .texto_card_p {
                color: rgb(255, 255, 255);
                font-size: medium;
            }
        }
      
    }
    

}


@media(max-width: 320px) {


    h1 {
        font-size: 2rem;
    }

    .PP {
        font-size: small;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    .barra {
        font-size: 1rem;
    }

    .tienda {
        display: grid;
        grid-template-columns: auto; /*antes.5fr*/
        grid-template-rows: 1fr;
        grid-template-areas:
            "card1"
            "card2"

            "card3 "
            "card4"

            "card5"
            "card6"

            "card7"
            "card8"

            "card9"
            "card10"

            "card11"
            "card12";

    }


    .card-img-top {
        height: 430px;
        width: 200px;

    }

    div .card-body {
        width: 200px;
    }

    iframe {
        width: 320px;
    }

    .campo {
        width: 320px;
        padding: 15px;

    }
    .tarjeta0 {    
        /*width: 500px;*/
        margin-top: 30px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        transition: all 400ms ease;
        justify-content: end;
    
        .texto_card_h5,
        .texto_card_p {
            font-family:'Dosis', sans-serif;
            font-weight: bold;
        }
        .boton {
            width: 80px;
            font-size: 10px;
        }

    
        &:hover {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
            transform: translateY(-3%);
    
            
            .texto_card_p {
                color: black;
                font-size: medium;
            }
        }
       
    }
    
     .tarjeta1 {
        /*width: 500px;*/
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        transition: all 400ms ease;
    
        
        .texto_card_p {
            font-family:'Dosis', sans-serif;
            font-weight: bold;
            
        }
        .boton {
            width: 80px;
            font-size: 10px;
        }
    
        &:hover {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
            transform: translateY(-3%);
    
        
            .texto_card_p {
                color: rgb(255, 255, 255);
                font-size: medium;
            }
        }
      
    }



    footer {
        display: grid;
        justify-content: center;
        justify-items: center;
        color: bisque;
        text-decoration: none;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.5);

    }

    .p-f {
        font-size: small;
    }

    .btn {
        width: 100px;
        font-size: 20px;

    }




}